* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #e01b1a;
}

.main-width {
    width: 90%;
    margin: auto;
}
/* HEADER */
#header {
    padding: 5px;
    background-color: rgb(190, 3, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .header__logo img {
    width: 180px;
    margin: auto;
}
#header .header__menu ul {
    display: flex;
    list-style-type: none;
}
#header .header__menu ul li {
    margin: 0 20px;
    font-weight: bolder;
    font-size: 14px;
}
#header .header__menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
/* FIN HEADER */

/* MAIN */
#portada .portada__manu {
    margin-top: 20px;
    text-align: center;
}
#portada .portada__manu img {
    width: 70%;
}
.seccionasegurate__titulo {
    text-align: center;
    font-size: 20px;
}
.seccionasegurate__iconos {
    display: flex;
    justify-content: center;
}
.seccionasegurate__iconos img {
    width: 100px!important;
    margin: 50px
}
.seccion__texto {
    text-align: center;
    font-size: 20px;
}
.seccion__videoauto iframe {
    width: 100%;
    height: 500px;
}
/* FIN MAIN */

/* FOOTER */
#footer {
    padding: 5px;
    background-color: rgb(190, 3, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .footer__logo img {
    width: 180px;
    margin: auto;
}

.footer__titulo {
    display: flex;
    align-items: center;
}
#footer .footer__titulo h3 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}
#footer .footer__redes {
    display: flex;
    list-style-type: none;
    font-size: 16px;
}
#footer .footer__redes img {
    width: 20px;
    margin: 0 10px;
}
.portada-contrata-ahora {
    text-align: center;
}
.portada-contrata-ahora img {
    width: 800px !important;
    max-width: 100%;
    margin-top: 20px;
}
/* FIN FOOTER */

/********** Pagina coberturas **********/
.cobertura-flex {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 1rem;
}
.cobertura-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 20px;
}
.cobertura-grid div {
    border: solid 1px black;
    display: flex;
    flex-flow: column;
}
.cobertura-flex h2 {
    text-align: center;
    margin: 5px 5px;
}

/********** Página contacto **********/
.iframe {
    width: 100%;
    height: 300px;
}

/********** Página beneficios **********/
.main-width div img {
    width: 100%;
}
.div-beneficios {
    border: solid 1px black;
    margin: 30px;
    padding: 20px;
}
.div-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.div-video {
    display: flex;
    margin: 15px;
}
.recompensa {
    width: 80%;
    height: 500px;
    margin: auto;
}

/* MEDIA QUERYS */
@media (min-width: 577px) and (max-width: 992px) {

    /********** Página inicio **********/
    .seccionasegurate__iconos {
        display: flex;
        flex-flow: wrap;
    }

    /********** Página cobreturas **********/
    .cobertura-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (max-width: 576px) {
    /* HEADER */
    .header__menu ul {
        display: flex;
        flex-direction: column;
    }
    /* MAIN */
    .seccionasegurate__iconos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer {
        display: flex;
        flex-direction: column;
    }
    #footer div {
        margin-top: 10px;
    }

    /********** Página coberturas **********/
    .cobertura-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .cobertura-grid div img {
        max-width: 100%;
    }
}
$side: 120px
$l: 90px
$num: 10
$dur: 10s

@mixin plane($w, $h)
  width: $w
  height: $h
  transform-style: preserve-3d
  
@mixin view($p)
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  perspective: $p

@mixin center
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto      

html, body
  background: #222
  overflow: hidden
  width: 100%
  height: 100%
  
.view
  @include view(400)
    
.plane
  @include plane($side, $side)
  
  &.main
    @include center
    transform: rotateX(60deg) rotateZ(-30deg)
    animation: rotate 20s infinite linear
      
    .circle
      width: $side
      height: $side
      position: absolute
      transform-style: preserve-3d
      border-radius: 100%
      //border: 2px solid white
      box-sizing: border-box
      box-shadow: 0 0 60px rgba(crimson, 1), inset 0 0 60px rgba(crimson, 1)
  
      &::before, &::after
        content: ''
        display: block
        @include center
        width: 10%
        height: 10%
        border-radius: 100%
        background: rgba(crimson, 1)
        //border: 4px solid black
        box-sizing: border-box
        box-shadow: 0 0 60px 2px rgba(crimson, 1)

      &::before
        transform: translateZ(-$l)
      &::after
        transform: translateZ($l)
  
      @for $i from 1 through 5
        &:nth-child(#{$i})
          transform: rotateZ($i / 5 * 360deg) rotateX(63.435deg)
  
@keyframes rotate
  0%
    transform: rotateX(0) rotateY(0) rotateZ(0)
  100%
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg)
