@import 'variables';
@import 'header';
@import 'footer';

/*Variables*/
$colorPrincipal: #ed213a;
$colorSecundario: #93291e;
$fuentePrincipal: 'Poppins', sans-serif;

/*Maps*/
$colores: (
    principal: #ed213a,
    secundario: #93291e,
);
#header {
    background: map-get($map: $colores, $key: principal);
}
#footer {
    background: map-get($map: $colores, $key: secundario);
}
.footer-bottom {
    background: map-get($map: $colores, $key: secundario);
}
/* Extend */
.fotonucleo {
    width: 600px;
    height: 550px;
}
.fotonucleo--beneficios {
    @extend .fotonucleo;
    border: solid 5px white;
}
/* Mixins */
@mixin btn {
    background-color: rgb(173, 9, 9);
    border-color: black;
    margin-bottom: 5px;
}
.btn--contacto {
    @include btn;
    padding: 5px;
    width: 100px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuentePrincipal;
}
body {
    background: $colorPrincipal;
    background: linear-gradient(to top, #ed213a, #93291e);
    color: black;
}
.main-width {
    width: 90%;
    margin: auto;
}
/* MAIN */
#portada {
	.portada__manu {
		margin-top: 40px;
		text-align: center;
		margin: 0 auto;
		transform: translate(300px, 200px);
		transform: rotate(0deg);
		img {
			margin-top: 30px;
			width: 60%;
		}
	}
}
.seccionasegurate {
    & &__titulo {
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
    }
    & &__iconos {
        display: flex;
        justify-content: center;
        img {
            width: 100px !important;
            margin: 50px;
        }
    }

}
.seccion__texto {
    text-align: center;
    font-size: 20px;
}
.seccion__videoauto iframe {
    width: 100%;
    height: 500px;
}
/* FIN MAIN */

/********** Pagina coberturas **********/
.cobertura-flex {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 1rem;
}
.cobertura-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 20px;
}
.cobertura-grid div {
    border: solid 1px black;
    display: flex;
    flex-flow: column;
}
.cobertura-flex h2 {
    text-align: center;
    margin: 5px 5px;
}

/********** Página contacto **********/
.iframe {
    width: 100%;
    height: 400px;
}

/********** Página beneficios **********/
.main-width div img {
    width: 100%;
}
.div-beneficios {
    border: solid 1px black;
    margin: 30px;
    padding: 20px;
}
.div-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.div-video {
    display: flex;
    margin: 15px;
}
.recompensa {
    width: 80%;
    height: 500px;
    margin: auto;
}
.titulo-beneficios {
    text-align: center;
    margin-top: 20px;
}

/* MEDIA QUERYS */
@media (min-width: 577px) and (max-width: 992px) {
    .nav-item::after {
        content: '';
        display: block;
        width: 0px;
        height: 3px;
        background: #fec400;
        transition: 0.4s
    }
    .nav-item:hover::after {
        width: 20px;
    }
    /********** Página inicio **********/
    .seccionasegurate__iconos {
        display: flex;
        flex-flow: wrap;
    }

    /********** Página cobreturas **********/
    .cobertura-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (max-width: 576px) {
    /* HEADER */
    .header__menu ul {
        display: flex;
        flex-direction: column;
    }
    /* MAIN */
    .seccionasegurate__iconos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer {
        display: flex;
        flex-direction: column;
    }
    #footer div {
        margin-top: 10px;
    }
    /********** Página coberturas **********/
    .cobertura-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .cobertura-grid div img {
        max-width: 100%;
    }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
input {
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 30px;
    transition: all 1s;
}
.navbar-brand img {
    width: 150px;
}
.form-check {
    margin-top: 15px;
}
.btn-primary {
    margin-bottom: 10px;
}
.portada-contrata-ahora {
    width: 70%;
    margin: 0 auto;
}
.titulo-mapa {
    text-align: center;
}
.col {
    margin-bottom: 20px;
}
.titulo-coberturas {
    margin: 10px;
    text-align: center;
}
.card {
    background-color: rgb(177, 26, 26);
}
.card-body {
    background-color: rgb(253, 250, 250);
}
.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    background: #fec400;
    transition: 0.4s
}
.nav-item:hover::after {
    width: 100%;
}