@charset "UTF-8";
/*Variables*/
#header {
  padding: 5px;
  background-color: #970101;
}

#header .header__logo img {
  width: 175px;
  margin: auto;
}

footer {
  position: absolute;
  height: auto;
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
  background-color: #970101;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 20px;
  color: black;
}

.footer-content p {
  max-width: 200px;
  margin: 10px auto;
  line-height: 20px;
  font-size: 10px;
  color: black;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: bisque;
}

.socials a i {
  font-size: 20px;
  transition: 2s;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background-color: #970101;
  width: 100%;
  text-align: center;
}

.footer-bottom {
  font-size: 12px;
  color: black;
}

/*Variables*/
/*Maps*/
#header {
  background: #ed213a;
}

#footer {
  background: #93291e;
}

.footer-bottom {
  background: #93291e;
}

/* Extend */
.fotonucleo, .fotonucleo--beneficios {
  width: 600px;
  height: 550px;
}

.fotonucleo--beneficios {
  border: solid 5px white;
}

/* Mixins */
.btn--contacto {
  background-color: #ad0909;
  border-color: black;
  margin-bottom: 5px;
  padding: 5px;
  width: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ed213a;
  background: linear-gradient(to top, #ed213a, #93291e);
  color: black;
}

.main-width {
  width: 90%;
  margin: auto;
}

/* MAIN */
#portada .portada__manu {
  margin-top: 40px;
  text-align: center;
  margin: 0 auto;
  transform: translate(300px, 200px);
  transform: rotate(0deg);
}

#portada .portada__manu img {
  margin-top: 30px;
  width: 60%;
}

.seccionasegurate .seccionasegurate__titulo {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.seccionasegurate .seccionasegurate__iconos {
  display: flex;
  justify-content: center;
}

.seccionasegurate .seccionasegurate__iconos img {
  width: 100px !important;
  margin: 50px;
}

.seccion__texto {
  text-align: center;
  font-size: 20px;
}

.seccion__videoauto iframe {
  width: 100%;
  height: 500px;
}

/* FIN MAIN */
/********** Pagina coberturas **********/
.cobertura-flex {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 1rem;
}

.cobertura-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 20px;
}

.cobertura-grid div {
  border: solid 1px black;
  display: flex;
  flex-flow: column;
}

.cobertura-flex h2 {
  text-align: center;
  margin: 5px 5px;
}

/********** Página contacto **********/
.iframe {
  width: 100%;
  height: 400px;
}

/********** Página beneficios **********/
.main-width div img {
  width: 100%;
}

.div-beneficios {
  border: solid 1px black;
  margin: 30px;
  padding: 20px;
}

.div-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.div-video {
  display: flex;
  margin: 15px;
}

.recompensa {
  width: 80%;
  height: 500px;
  margin: auto;
}

.titulo-beneficios {
  text-align: center;
  margin-top: 20px;
}

/* MEDIA QUERYS */
@media (min-width: 577px) and (max-width: 992px) {
  /********** Página inicio **********/
  .seccionasegurate__iconos {
    display: flex;
    flex-flow: wrap;
  }
  /********** Página cobreturas **********/
  .cobertura-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  /* HEADER */
  .header__menu ul {
    display: flex;
    flex-direction: column;
  }
  /* MAIN */
  .seccionasegurate__iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #footer {
    display: flex;
    flex-direction: column;
  }
  #footer div {
    margin-top: 10px;
  }
  /********** Página coberturas **********/
  .cobertura-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .cobertura-grid div img {
    max-width: 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

input {
  background-color: white;
  width: 300px;
  height: 30px;
  transition: all 1s;
}

.navbar-brand img {
  width: 150px;
}

.form-check {
  margin-top: 15px;
}

.btn-primary {
  margin-bottom: 10px;
}

.portada-contrata-ahora {
  width: 70%;
  margin: 0 auto;
}

.titulo-mapa {
  text-align: center;
}

.col {
  margin-bottom: 20px;
}

.titulo-coberturas {
  margin: 10px;
  text-align: center;
}

.card {
  background-color: #b11a1a;
}

.card-body {
  background-color: #fdfafa;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0px;
  height: 3px;
  background: #fec400;
  transition: 0.4s;
}

.nav-item:hover::after {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */